html {
  background: url(images/bar.jpg) no-repeat center center fixed;
  background-image: linear-gradient(
    0deg
    , rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(images/bar.jpg);
  background-size: cover;
  height: 100%;
  overflow: hidden;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.input-pair {
  display:flex;
  flex-direction: row;
  padding-bottom: 10px;
}
img {
  max-width: 25%;
  height: auto
}

body {
  padding-top: 1%;
  padding-bottom: 1%;
  margin: 0;
}
/*****************************************************************************
Formating for Left Portion of Page (title and form)
******************************************************************************/

.left {
  top: 10%;
  position: relative;
  padding:3rem;
  display: flex;
flex-direction: column;
}

.left h1 {
  color: #f3e7f1!important;
  word-wrap: break-word;
  font-family: "Playfair Display",serif!important;
  text-align: left;
  font-size: 6rem;
  font-weight: 700;
}


.container {
  display: flex;
  border-radius: 10ex;
}

.filter-container {
  border-radius: 30px;
  background-color:rgba(116, 73, 73, 0.7);
  color: white;
  padding: 15px;
}

.left .form-container{
  background-color: rgba(211, 182, 182, 0.7);
  border-radius: 30px;
  padding: 10px;
  margin-top: 6.25%;
  margin-left: 25%;
  margin-right: 15%;
  position: relative;
  top: 0;
  bottom: 0;
}

.form-container form{
  font-size: 20px;
  text-align: center;
  padding: 10px;
}

/*****************************************************************************
Formating for Right Portion of Page Results
******************************************************************************/


.right {
  width: 90%;
  padding: 5rem 0 0 0;
  margin-right: 10px;
}

.right .results-container {
  display: block;
  margin: 2%;
  /* margin-top: 20%;  */
}

.right .no-results {
  display: block;
  margin: 2%;
  color:gba(48,28,19,.7);
  background-color: #ffffff;
  border-radius: 15px;
  padding: 10px;
  margin: 7% 5% 7% 5%;
  position: relative;
  max-height: 550px;
  /* margin-top: 20%;  */
}

.CocktailList {
  color: #ffffff;
  background-color: rgba(48,28,19,.7);
  border-radius: 15px;
  padding: 10px;
  margin: 7% 5% 7% 5%;
  position: relative;
  overflow-y: scroll;
  max-height: 550px;
}


.cocktailList li {
  width: 100%;
padding-top: 5px;
padding-bottom: 5px;
}

.cocktailList ul{
  text-align: center;
  color: #ffffff;
  padding: 0px;
  margin: 0px;
}

ul {
  list-style-type: none;
  padding-inline-start: 0;
}

.Cocktail {
  background-color: #f3e7f16f;
}


