<html>
    <head>
        <link rel="stylesheet" href="/static/bootstrap.min.css">
        <link rel="stylesheet" href="/static/main.css">
    </head>
    <body>
        <div class="topcorner">
            <p>Project Name: {{ name }}</p>
            <p>Student Names: {{ netid }}</p>
        </div>
        <form class="form-inline global-search">
            <h1 style="font-size: 55px; font-family:Futura; color: #4285F4">
              <span style="color: #EA4335; font-size: 25px; font-style: oblique;"> Liver Let Die: </span>
                <br>
                <span style="color: darkcyan; font-weight: bold;"> Cocktail Recommender </span>
            </h1>
            
            <br><br>
            
            <div class="form-group">
                <input id="input" type="text" name="search" class="form-control" placeholder="Keywords">
                <br>
                <label for="temp">Temperature Preference: </label>
                <select name="temp" id="temp">
                  <option value="iced">Iced</option>
                  <option value="hot">Hot</option>
                  <option value="nopref" selected="selected">No Preference</option>
                </select>
                <br>
                <br>
                <label for="spirit">Spirit: </label>
                <select name="spirit" id="spirit">
                  <option value="gin">Gin</option>
                  <option value="vodka">Vodka</option>
                  <option value="rum">Rum</option>
                  <option value="brandy">Brandy</option>
                  <option value="liqueuer">Liqueuer</option>
                  <option value="absinthe">Absinthe</option>
                  <option value="sherry">Sherry</option>
                  <option value="other">Other</option>
                  <option value="nopref" selected="selected">No Preference</option>
                </select>
                <br>
                <br>
                <label for="category">Category: </label>
                <select name="category" id="category">
                  <option value="nopref" selected="selected">No Preference</option>
                </select>
            </div>
            <button type="submit" class="btn btn-info"> Go! </button>
        </form>
        <form class="form-inline global-search">
        {% if data %}
            <h1>{{output_message}}</h1>
            {% for d in data %}  
                <br>
                <h3>{{d[0]}}</h3><br>
                <p>Ingredients: {{d[1]}}</p><br><br>
                <p>Description: {{d[2]}}</p><br>
                <p>[placeholder image]</p><br>

            {% endfor %}
        {% endif %}
        </form>
    </body>

</html>