<html>
    <head>
        <link rel="stylesheet" href="/static/bootstrap.min.css">
        <link rel="stylesheet" href="/static/main.css">
    </head>
    <body>
        <div class="topcorner">
            <p>Project Name: {{ name }}</p>
            <p>Student Names: {{ netid }}</p>
        </div>
        <form class="form-inline global-search">
            <h1 style="font-size: 55px; font-family:Futura; color: #4285F4">
                C
                <span style="color: #EA4335; ">S</span>
                <span style="color: #FBBC05; ">4</span>
                3
                <span style="color: #34A853; ">0</span>
                <span style="color: #EA4335; ">0</span>
            </h1>
            
            <br><br>
            
            <div class="form-group">
                <input id="input" type="text" name="search" class="form-control" placeholder="Your Input">
                <br>
                <label for="temp">Select Temperature Preference: </label>
                <select name="temp" id="temp">
                  <option value="iced">Iced</option>
                  <option value="hot">Hot</option>
                  <option value="nopref" selected="selected">No Preference</option>
                </select>
                <!-- <input type="checkbox" id="iced" name="iced" value=True>
                  <label for="iced">Iced</label>
                <input type="checkbox" id="hot" name="hot" value="Hot">
                  <label for="iced">Hot</label>
                <input type="checkbox" id="nopref" name="nopref" value="Nopref">
                  <label for="iced">No Preference</label> -->
                <br>
                <br>
                  <!-- <input type="checkbox" id="vehicle2" name="vehicle2" value="Car">
                  <label for="vehicle2"> I have a car</label><br>
                  <input type="checkbox" id="vehicle3" name="vehicle3" value="Boat">
                  <label for="vehicle3"> I have a boat</label><br> -->
            </div>
            <button type="submit" class="btn btn-info"> Go! </button>
        </form>
        <form class="form-inline global-search">
        {% if data %}
            <h1>{{output_message}}</h1>
            {% for d in data %}  
                <br>
                <h3>{{d[0]}}</h3><br>
                <p>Ingredients: {{d[1]}}</p><br><br>
                <p>Description: {{d[2]}}</p><br>
                <p>[placeholder image]</p><br>

            {% endfor %}
        {% endif %}
        </form>
    </body>

</html>